{% extends "memberapp/base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/memberapp_timelineonly.css')}}" rel="stylesheet" type="text/css" />

<section class="content-header">
    <h1>
        STEMWare Workbench
        <small>{{current_user.cycle}}기 {{current_user.nickname}} 회원님 환영합니다!!</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Home</li>
    </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="box" style="height:317px;">
          <div class="box-body">
            <div id="calendar"></div>
          </div>
          <a href="/stem/calendar">
              <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">최근 등록된 글</h3>
          </div>
          <div class="box-body for-board" style="padding:0; height:276px; overflow-y:scroll">
            <table class="table table-hover table-responsive" id="recent-table">
            <tbody>
            {%for post in recent_posts %}
            <tr onClick="location.href='/stem/board/recent/{{post.id}}'">
            <td class="col-md-10 text-left">{{post.title}} {% if post.commentCount %}  [{{post.commentCount}}] {% endif %}</td>
            <td class="col-md-2 text-right"><span class="label label-default">{{ post.memberwriter.nickname }}</span></td>
            </tr>
            {%endfor%}
            <tbody>
            </table>
          </div>
        <!--a href="#">
            <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
        </a-->
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">STEM Member Management System</h3>
            </div><!-- /.box-header -->
            <div class="box-body" style="padding:10px 0;">
        <div class="left" style="width:50%; float:left; height:140px;"> 
          <p class="text-center">{{current_user.nickname}} 회원님은</p>
          {% if current_user.deptstem.name == '우수명예회원' %}
            <div class="progress-circle p100 gold">
              <span style="line-height:20px; top:25px;">우수<br>명예회원</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          {% elif current_user.deptstem.name == '대외교류부' %}
            <div class="progress-circle p100 green">
              <span style="line-height:20px; top:25px;">대외<br>교류부</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          {% elif current_user.deptstem.name in ['회장','총무'] %}
            <div class="progress-circle p100 gold">
              <span>{% if not current_user in current.active("executives") %}前{% endif %} {{current_user.deptstem.name}}</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          {% else %}
            <div class="progress-circle p100 {% if current_user.deptstem.name == '명예회원' %}blue{% else %}green{% endif %}">
              <span>{{current_user.deptstem.name}}</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          {% endif %}
        </div>
              <div class="text-center right" style="width:50%; float:right; height:140px; display:table;">
              <div style="padding:10px 0; display:table-cell; vertical-align:middle;">
                {% if current_user in current.active("actives") %} 
                <span class="label label-primary " style="font-size:2.5rem;">Active</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 현황</a>
                    <a href="/stem/mms/completion_criterion" class="btn btn-sm btn-default">이수 기준서</a>
                  </div>
                {% elif current_user.deptstem_id == 7 %}
                <span class="label label-default " style="font-size:2.5rem;">Inactive</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 내역</a>
                    <a href="/stem/mms/active" class="btn btn-sm btn-default">Active 전환</a>
                  </div>
                {% else %}
                <span class="label label-warning " style="font-size:2.5rem;">Honorary</span><br><br>
                  <div class="btn-group btn-group-vertical" style="padding:0 20px;">
                    <a href="/stem/mms/completion_state" class="btn btn-sm btn-default">이수 내역</a>
                    <a href="mailto:stemsnu@gmail.com" class="btn btn-sm btn-default">PM 활동신청</a>
                  </div>                
                {% endif %}
              </div>
              </div>
          </div><!-- /.box -->
        <a href="/stem/mms/completion_state">
            <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
        </a>
      </div>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">STEMemo</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" style="border-bottom:1px dashed #ccc;" type="text" placeholder="제목 (50자 제한)" id="memo-title">
                <textarea class="form-control" style="border-top:0;" rows="3" placeholder="내용 (300자 제한)" id="memo-body"></textarea>
              </div>
              <div class="form-group">
              <button onclick="addMemo()" type="add" class="btn btn-primary pull-right">등록</button>
              </div>
            </div><!-- /.box-body -->
            <a href="/stem/stememo">
                <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
            </a>
          </div><!-- /.box -->

    </div>

  <div class="col-xs-12 col-md-6 col-md-6" style="margin-bottom:20px;">
    <div class="box" style="margin-bottom:10px;">
            <div class="box-header">
              <h3 class="box-title">소식들 <small>STEMemo의 최신 3개 글</small></h3>
            </div><!-- /.box-header -->    
    </div><!-- /.box -->
      {% for memo in memoes %}
    <div class="qa-message-list" id="wallmessages">
            <div class="message-item" id="m16">
            <div class="message-inner">
              <div class="message-head clearfix">
                <div class="avatar pull-left" style="margin:0 15px 0 5px;"><a href="people/{{memo.writer_id}}"><img class="img-rounded" src="/static/upload/{{ memo.writer.img or 'profile/default.png' }}"></a></div>
                <div class="user-detail">
                  <h5 class="handle"><small>[#{{ memo.id }}]</small> {% if not memo.title %} <span style="color:rgb(230,230,230);">제목 없음</span> {% else %} {{ memo.title }} {% endif %}
                  </h5>
                  <div class="post-meta">
                    <div class="asker-meta">
                      <span class="qa-message-what"></span>
                      <span class="qa-message-when">
                        <span class="qa-message-when-data">{{ memo.timestamp.strftime('%Y.%m.%d %H:%M') }}</span>
                      </span>
                      <span class="qa-message-who">
                        <span class="qa-message-who-pad">by </span>
                        <span class="qa-message-who-data"><a href="people/{{memo.writer_id}}">{{ memo.writer.nickname }}</a>{% if memo.writer_id == current_user.id %} <i onClick="deleteMemo( {{memo.id}} )" style="color:red;" class="fa fa-times"></i> {% endif %}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="qa-message-content">
              {% if not memo.body %}
              <span style="color:rgb(230,230,230);">내용 없음</span>
              {% else %}
              {{ memo.body | safe}}
              {% endif %}              
              </div>
          </div></div>
    </div>
    {% endfor %}
  </div>
</div>  

  <div class="row">
{% for board in prior_boards %}
    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{board.title}} 게시판</h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="{{n}}-table">
          <tbody>
          {% set cut_posts = board.posts[::-1][0:5] %}
          {%for post in cut_posts %}
          <tr onClick="location.href='/stem/board/{{board.id}}/{{post.id}}'">
          <td class="col-md-10 text-left">{{post.title}} {% if post.commentCount %}  [{{post.commentCount}}] {% endif %}</td>
          <td class="col-md-2 text-right"><span class="label label-default">{{ post.memberwriter.nickname }}</span></td>
          </tr>
          {%endfor%}
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="/stem/board/{{board.id}}">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->
{% endfor %}

<!-- {% if current_user.member in active_members %}
    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{boards[2].title}} 회의록</h3>
        </div>
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="{{2}}-table">
          <tbody>
          {%for post in boardRec[2] %}
          <tr onClick="location.href='/stem/board/{{boards[2].id}}/{{post.id}}'">
          <td class="col-md-10 text-left">{{post.title}}</td>
          <td class="col-md-2 text-right"><span class="label label-default">{{ post.author.nickname }}</span></td>
          </tr>
          {%endfor%}
          <tbody>
          </table>
        </div>
      <a href="/stem/board/{{boards[2].id}}">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div>
    </div>
{% endif %} -->

    <div class="col-md-6 col-lg-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">개인 게시판 <small>{{personal_board.title}}</small></h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="personal_board-table">
          <tbody>
          {% set cut_posts = personal_board.posts[::-1][0:5] %}
          {%for post in cut_posts %}
          <tr onClick="location.href='/stem/board/{{personal_board.id}}/{{post.id}}'">
          <td class="col-md-10 text-left">{{post.title}} {% if post.commentCount %}  [{{post.commentCount}}] {% endif %}</td>
          <td class="col-md-2 text-right"><span class="label label-default">{{ post.memberwriter.nickname }}</span></td>
          </tr>
          {%endfor%}
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="/stem/board/{{personal_board.id}}">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      </div><!-- /.box -->
    </div><!-- /.col -->

{% if not preferred_boards is none %}
{% for board in preferred_boards %}
    <div class="col-md-6 col-lg-4" id="{{board.id}}-board">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{board.title}} 게시판 <small>즐겨찾기</small></h3>
        </div><!-- /.box-header -->
        <div class="box-body for-board">
          <table class="table table-hover table-responsive" id="{{board.id}}-table">
          <tbody>
          {% set cut_posts = board.posts[::-1][0:5] %}
          {% for post in cut_posts %}
          <tr onClick="location.href='/stem/board/{{board.id}}/{{post.id}}'">
          <td class="col-md-10 text-left">{{post.title}} {% if post.commentCount %}  [{{post.commentCount}}] {% endif %}</td>
          <td class="col-md-2 text-right"><span class="label label-default">{{ post.memberwriter.nickname }}</span></td>
          </tr>
          {%endfor%}
          <tbody>
          </table>
        </div><!-- /.box-body -->
      <a href="/stem/board/{{board.id}}">
          <i class="modal-close fa fa-angle-double-right pull-right" style="position:absolute; top:5px; right:5px;"></i>
      </a>
      <a onClick="favDelete({{board.id}});">
          <i class="modal-close fa fa-times pull-right" style="position:absolute; top:5px; right:20px;"></i>
      </a>
      <script>
        function favDelete(boardmember_id){
          r = confirm('즐겨찾기를 삭제하시겠습니까?')
          if (r) {
            $.ajax({
            url: "/stem/api/favorite/del/"+boardmember_id,
            type:"DELETE",
            success: function() {
              $('#'+boardmember_id+'-board').remove();
            },
            error: function() {
              alert('오류가 발생하였습니다');
            }
              });
          }
        }
      </script>
      </div><!-- /.box -->
    </div><!-- /.col -->
{% endfor %}
{% endif %}

  </div>

<style>
.for-board {padding:0; height:185px; overflow-y:scroll; cursor:pointer;}
</style>

</section>

{% endblock %}

{% block modals %}
<div id="suggestion-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#suggestion-modal').trigger('closeModal');"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">등록되었습니다.</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="$('#suggestion-modal').trigger('closeModal');">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/stem/suggestion'">Go to suggestions</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" />
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/jquery.dataTables.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/datatables/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.easyModal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/gcal.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='adminLTE/plugins/fullcalendar/ko.js')}}" type="text/javascript"></script>

<script type="text/javascript">

$("#suggestion-modal").easyModal();

$('#calendar').fullCalendar({
  lang: 'ko',
  timezone: 'local',
  timeFormat: 'h(:mm)t',
  defaultView: 'listWeek',
  height: 300,
  header: {
    left: 'prev,next today',
    center: 'title',
    right: ''
  },
  titleFormat: 'MMM D',
  buttonText: {
    today: 'Today'
  },
  googleCalendarApiKey: 'AIzaSyA2C5FY8AH365dq2APeJZe6_BFtSa6quBc',
  eventSources: [
    {
      googleCalendarId: 'stemsnu@gmail.com',
      color: '#c3d6e0',
      textColor: '#444'
    },
    {
      googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
      color: '#e8d197'
    },
    /* {
      url: '/stem/api/deadlines',
      editable: true
    } */
  ],
  viewRender: function() {
    $('.fc-center h2').css("font-size","150%");
  },
  eventClick: function(event) {
    // opens events in a popup window
    if (event.url.contains("https://www.google.com")) {
      window.open(event.url, 'gcalevent', 'width=700,height=600');
    } else location.href = event.url;
    return false;
  },
  eventDrop: function(event, delta, revertFunc) {
    event.start = event.start.utcOffset(9);
    $.ajax({
      url: '/stem/api/task/' + event.id,
      type: 'PUT',
      data: {
        deadline: event.start.unix()
      },
      error: function(){
        alert("일정을 수정할 수 없습니다. 서버 오류 또는 권한이 없습니다.");
        revertFunc();
      }
    });
  }
});

$(document).ready(function(){
  $('#memo-body').on('keyup',function(){
    if($(this).val().length > 300) {
      $(this).val($(this).val().substring(0,300));
    }
  })
  $('#memo-title').on('keyup',function(){
    if($(this).val().length > 50) {
      $(this).val($(this).val().substring(0,50));
    }
  })
})

function deleteMemo(memoid) {
  var y = confirm("글을 삭제합니다.")
  if (y==true) {
  $.ajax({
    url: "/stem/api/memo/delete",
    type:"POST",
    data: {
        id: memoid
    },
    success: function(data) {
      location.reload();
    },
    error: function() {
      alert('오류가 발생했습니다.');
    }
  })} else return;
}

function addMemo() {
  var title = $("#memo-title").val();
  var body = $("#memo-body").val();

  if(title=='' && body==''){
    alert('내용을 입력하여주세요.');
    return;
  }

  $("#memo-title").val('');
  $("#memo-body").val('');

  $.ajax({
    url: "/stem/api/memo/add",
    type:"POST",
    data: {
      title: title,
      body: body.replace('\n','<br>'),
    },
    success: function(issue) {
      location.reload();
    },
    error: function() {
      alert('오류가 발생했습니다.');
      $("#memo-title").val(title);
      $("#memo-body").val(body);
    }
  });
}

</script>
{% endblock %}