{% extends "memberapp/base.html" %}
{% block styles %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="{{url_for('static', filename='adminLTE/dist/js/member_app.js')}}"></script>
<!--script src="{{url_for('static', filename='js/member_app.js')}}"></script-->

<link rel="stylesheet" href="{{url_for('static', filename='adminLTE/dist/css/member.css')}}" />
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        People
        <small>STEM People</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/stem"><i class="fa fa-users"></i> Home</a></li>
        <li class="active">Member</li>
    </ol>
</section>

<section class="content">


<div id="memberlist" ng-app="stemApp" ng-controller="memberList" style="visibility:hidden;">
	<div class="members" style="text-align:center;" ng-view>
	    <div class="form-group" style="text-align:center;">
        <select name="cycle" class="form-control" ng-init="searchText.cycle = searchText.cycle || {{cycle}}" ng-model="searchText.cycle" style="width:130px; display:inline-block;">
        {%for n in range(current.cycle)%}
        <option value='{{n+1}}' style="text-align:center;">{{n+1}}기 - {{n+2010}}년</option>
        {%endfor%}
   		</select></div>
		<div ng-repeat="cycle in all_members | filter:searchText">
			<h3 style="margin-top:0; margin-left:5px;">{[cycle[0].cycle]}기</h3><br><br>
            <div ng-repeat="mem in cycle" class="member-tag" style="padding:10px 5px;" ng-click="openCard(mem.id)">
            	<div class="member-picture">
            		<div class="member-picture-container">
            			<img class="member-picture-thumb" src="/static/upload/{[ mem.img || 'profile/default.png']}">
            		</div>
            	</div>
            	<h5>{[mem.nickname]}</h5>
            </div>
        </div>
	</div>
    <div class="member-card">   
        <div class="card-body">
            <div class="card-photo">
                <img class="card-cover" src="/static/upload/{[members[pIndex].cover || 'cover/cover_default.gif']}">
            </div>
            <div class="card-desc" style="max-height:300px; overflow-y:scroll;">
                <div class="col-xs-12"><a style="color:white; margin:10px 0 10px 0;" class="btn btn-primary btn-block" href="/stem/board/personal/{[members[pIndex].id]}">개인 게시판 가기 <i class="fa fa-angle-right"></i></a></div>
                <hr style="border:1px solid #f0f0f0; margin-bottom:0;">
                <div class="text-center">
                <h4 class="card-member-name" style="margin-bottom:1px;">{[members[pIndex].nickname]}</h4>
                <h6 class="card-member-dept" style="margin-bottom:1px;">{[members[pIndex].cycle]}기 {[members[pIndex].deptstem]}, {[members[pIndex].deptuniv]}</h6></div>
                <p class="text-center text-muted">({[members[pIndex].username]})</p>
                <p class="card-member-description">{[members[pIndex].cvpublic]}</p>
                <p class="card-member-description">{[members[pIndex].cvmember]}</p>
                <a class="card-member-social-link" href="{[members[pIndex].social]}">{[members[pIndex].social.split('://')[1]]}</a>

                <div class="col-xs-12"><a style="margin:10px 0 0 0;" class="btn btn-default btn-block" href="/stem/people/{[members[pIndex].id]}">프로필 자세히 보기 <i class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
        <a class="member-card-prev member-card-control" href="javascript:void(0)" ng-click="goPrev()">
            <span>{[prevMember().nickname]}</span>
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="member-card-next member-card-control" href="javascript:void(0)" ng-click="goNext()">
            <i class="fa fa-arrow-right"></i>
            <span>{[nextMember().nickname]}</span>
        </a>
        <a href="javascript:void(0)" onclick="closeModal()">
            <i class="modal-close fa fa-remove" style="line-height:22px;"></i>
        </a>
    </div>
</div>
</section>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
$('#memberlist').css('visibility','visible');
});
</script>
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script src="{{url_for('static', filename='adminLTE/dist/js/member.js')}}"></script>
{% endblock %}