{% extends "memberapp/base.html" %}
{% block content %}
 <section class="content-header">
  <h1>
    {%if request.args.get('gid') %}{{bgroups.name}}{%else%}전체 게시판 목록{%endif%}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-list-ul"></i> Home</a></li>
    {%if request.args.get('gid') %}
    <li><a href="/stem/board">Boards</a>
    <span style="margin-left:5px;" class="text-muted">(Group : {{bgroups.name}})</span></li>
    {%else%}
    <li class="active">Boards</li>
    {%endif%}
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12">
    {% if request.args.get('gid') %}
      <ul class="list-group">
      {% if not request.args.get('gid')|int==10 %}<!--개인게시판-->
      {% for board in bgroups.boards %}
        <li class="list-group-item"><a style="color:black;" href="/stem/board/{{board.id}}"><span style="margin:5px"  data-tag-id="{{board.id}}">{{board.title}}
        </span></a>
        {%if board.owner is not none %}<span class="text-muted" style="margin-left:5px;"><small> by {{board.owner.nickname}}</small></span>{%endif%}
        <span class="badge">{{board.posts.all()|length}}</span></li>
      {% endfor %}
        <li class="list-group-item"><a style="color:black;" onClick="OpenModal();"><span style="margin:5px" id='add_tag'><i class="fa fa-plus"></i> 게시판 추가하기</span></a>
        <span class="badge"><i class="fa fa-angle-right"></i></span></li>
      {% else %}
        {% for n in range(current.cycle) %}
        <li class="list-group-item"><a style="color:black;" href="/stem/people/_{{n+1}}"><span style="margin:5px">{{n+1}}기 - {{n+2010}}년
        </span></a><span class="badge"><i class="fa fa-angle-double-right"></i></span></li>
        {% endfor %}
      {% endif %}
      </ul>
    {% else %}
      {% for bgroup in bgroups %}
      <h3 style="margin-top:0;"><span onClick="location.href='/stem/board?gid={{bgroup.id}}'">{{bgroup.name}} <i class="fa fa-angle-down"></i></span></h3>
      <ul class="list-group">
        {% if not bgroup.name == '개인' %}
        {% for board in bgroup.boards %}
        <li class="list-group-item"><a style="color:black;" href="/stem/board/{{board.id}}"><span style="margin:5px"  data-tag-id="{{board.id}}">{{board.title}}
        </span></a>
        {%if board.owner is not none %}<span class="text-muted" style="margin-left:5px;"><small> by {{board.owner.nickname}}</small></span>{%endif%}
        <span class="badge">{{board.posts.all()|length}}</span></li>
        {% endfor %}
        {% else %}
        {% for n in range(current.cycle) %}
        <li class="list-group-item"><a style="color:black;" href="/stem/people/_{{n+1}}"><span style="margin:5px">{{n+1}}기 - {{n+2010}}년
        </span></a><span class="badge"><i class="fa fa-angle-double-right"></i></span></li>
        {% endfor %}
        {% endif %}
      </ul>
        <hr>
      {% endfor %}
    {% endif %}
    </div>
  </div>

<div class="card-addtag">
    <div class="box" style="background:white;">
      <div class="box-header with-border text-center">
        <h3 style="margin:0;">게시판 추가</h3>
      </div>
      <div class="box-body">
        <p class="text-center">현재 게시판 그룹에 게시판을 추가합니다.</p>
        <div class="form-group">
        <form id="add_tag_form">
        <input name="tag_title" type="text" class="form-control" value="" placeholder="게시판 이름">
        <input name="gid" type="hidden" value="{{request.args.get('gid')}}">
        <input name="special" type="hidden" value="1">
        </form>
        </div>
        <div class="nav nav-pills nav-justified text-center" style="padding:0 0 10px 0;">
          <button id="add_tag_btn" type="button" class="btn btn-primary">추가</button>
          <button onClick="CloseModal()" class="btn btn-primary">취소</button>
        </div>
        <p class="text-center" style="color:blue;"><b>게시판은 생성 후에 삭제되지 않습니다. 자세한 사항은 홈페이지 관리자에게 문의하여 주세요.</b></p>
      </div>
    </div>
    <a href="javascript:void(0)" onclick="CloseModal()">
      <i class="modal-close fa fa-remove pull-right" style="position:absolute; top:5px; right:5px;"></i>
   </a>
</div>

</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script>
jQuery("[class^=card]").easyModal({overlay:0.2});

function CloseModal() {
  jQuery("[class^=card]").trigger('closeModal');
}

function OpenModal() {
  jQuery(".card-addtag").trigger('openModal');
}

$(document).ready(function(){
if($(window).width()>=768) { $("[class^=card]").css('width', $(window).width()*0.5)
} else {$("[class^=card]").css('width', $(window).width()*0.9)};
});

$(window).resize(function () {
if($(window).width()>=768) { $("[class^=card]").css('width', $(window).width()*0.5)
} else {$("[class^=card]").css('width', $(window).width()*0.9)};
});

$('#add_tag_btn').on('click', function(e) {
  $.ajax({
        url: '/stem/api/board',
        type: 'POST',
        data: {
          board_title : $('input[name=tag_title]').val(),
          gid : $('input[name=gid]').val(),
          special : $('input[name=special]').val()
        },
        success: function(data) {
          location.reload();
        }
    });
  
});


</script>
{% endblock %}