{% extends "memberapp/base.html" %}

{% block content %}
 <section class="content-header">
  <h1>Conference Record <small>새로운 회의를 시작합니다.</small></h1>
  <ol class="breadcrumb">
    <li><a href="/stem"><i class="fa fa-list-ul"></i> Home</a></li>
    <li class="active">Conference Record</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
      <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-body">
            <form>
            <div class="form-group col-xs-12" style="margin-bottom:0;">
            <p style="margin:0 0 10px 0; text-align:center; font-weight:bold;">회의 구분 : </p>
            <ul class="list-group" style="margin:0;">
            <li class="list-group-item" style="text-align:center; border:0; padding:0;">
            <input type="radio" class="conftype" id="c0" name="type" value="0"><label for="c0">정기회의</label>
            <input type="radio" class="conftype" id="c1" name="type" value="1"><label for="c1">임원회의</label>
            <input type="radio" class="conftype" id="c2" name="type" value="2"><label for="c2">대외교류부 부서회의</label>
            <input type="radio" class="conftype" id="c3" name="type" value="3"><label for="c3">봉사부 부서회의</label>
            <input type="radio" class="conftype" id="c4" name="type" value="4"><label for="c4">학술부 부서회의</label>
            <input type="radio" class="conftype" id="c5" name="type" value="5"><label for="c5">기타</label>
            </li>
            </ul><hr>
            </div>
            <div class="form-group col-xs-12 col-md-6">
            <label for="confplace">장소 : </label>
            <input type="text" id="confplace" name="confplace" class="form-control" value="STEM 동아리방" placeholder="장소 입력" disabled>
            </div>
            <div class="form-group col-xs-12 col-md-6">
            <label for="confstart">날짜 :</label>
            <input type="date" id="confday" class="form-control" name="confstart" value="{{confday}}" readonly>
            </div>
            <div class="form-group col-xs-12 col-md-12">
            <label for="conftitle">제목 : </label>
            <input type="text" id="conftitle" class="form-control" name="conftitle" value="" placeholder="회의 종류를 먼저 선택하세요" disabled>
            </div>
            <div class="col-xs-6 col-xs-offset-3 text-center"><div class="btn btn-block btn-default" id="confMake" onClick="javascript:jQuery('.card-check').trigger('openModal')" disabled>생성하기</div></div>
            <input type="hidden" id="conftype">
            </form>
            </div>
            </div>
      </div>
</div>
</section>

<div class="card-check">
    <div class="box" style="background:white;">
      <div class="box-header with-border text-center">
        <h3 style="margin:0;"> 신규 회의 생성<br><small>새로운 회의를 시작합니다.</small></h3>
      </div>
      <div class="box-body">
        <p class="text-center" style="color:blue;"><b>다음의 사항을 확인 후에 진행해주세요.</b></p>
        <p class="text-center">회의록의 작성/수정은 <b>회의일로부터 7일 이내</b>에만 가능합니다.
        <br>회의 개설 후 24시간 이내에 회의록 작성을 하지 않는 경우, 회의록은 자동 삭제됩니다.</p>
        <div class="nav nav-pills nav-justified text-center" style="padding:0 0 10px 0;">
          <button type="button" onClick="newRecord()" class="btn btn-primary" style="margin:2px;">확인하였으며 진행하겠습니다.</button>
          <button onClick="CloseModal()" class="btn btn-primary" style="margin:2px;">취소</button>
        </div>

      </div>
    </div>
    <a href="javascript:void(0)" onclick="CloseModal()">
      <i class="modal-close fa fa-remove pull-right" style="position:absolute; top:5px; right:5px;"></i>
   </a>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block styles %}
<style>
input[type=radio] + label {
    margin: 5px -2px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.easyModal.js')}}"></script>
<script>
jQuery("[class^=card]").easyModal({overlay:0.2});

function CloseModal() {
    jQuery("[class^=card]").trigger('closeModal');
}

jQuery("input:radio").click(function(){
    type = $(this).val();
    $('#conftype').val(type);
    jQuery.ajax({
        url: '/stem/api/record/autotitle',
        type: 'POST',
        data: "conftype="+type,
        success: function(data) {
            $('#confplace').removeAttr('disabled');
            $('#conftitle').removeAttr('disabled');
            $('#confMake').removeAttr('disabled');
            $('#conftitle').val(data);

        }
    });
})

function newRecord() {
    conftype = $("input[id=conftype]").val();
    confplace = $("input[id=confplace").val();
    confday = $("input[id=confday").val();
    conftitle = $("input[id=conftitle]").val();

    jQuery.ajax({
        url: '/stem/api/record/new',
        type: 'POST',
        data: "conftype="+conftype+"&confplace="+confplace+"&confday="+confday+"&conftitle="+conftitle,
        success: function(data) {
            location.href = '/stem/record/write'
        }
    });
}

$(document).ready(function(){
if($(window).width()>=768) { $("[class^=card]").css('width', $(window).width()*0.5)
} else {$("[class^=card]").css('width', $(window).width()*0.9)};
});
$(window).resize(function () {
if($(window).width()>=768) { $("[class^=card]").css('width', $(window).width()*0.5)
} else {$("[class^=card]").css('width', $(window).width()*0.9)};
});
</script>
{% endblock %}
