<p>
{{recv.nickname}} 회원님, STEM 쪽지함에 {{current_user.nickname}} ({{current_user.username}}) 회원님의 쪽지가 도착했습니다.
</p>

<p><br></p>

<p>
<a href="https://gongwoo.snu.ac.kr/stem/people/{{current_user.id}}">{{current_user.nickname}}</a> ({{current_user.username}}) 님의 쪽지 :
</p>

<p>
{{body}}
</p>

<p><br></p>

<p>
<a href="https://gongwoo.snu.ac.kr/stem/">STEM 홈페이지</a>의 쪽지 서비스에서 답장을 보내실 수 있습니다.
</p>

<hr>
<p>
SNU Tomorrow's Edge Membership (STEM)<br>
서울대학교 공과대학 우수학생센터 (공우)<br>
<br>
Questions or Comments? Plese e-mail to stemsnu@gmail.com!
</p>