{% extends "base.html" %}
{% block container %}
    <!--container-->
    <div id="container">
        <div class="contain">
            <div class="s_contents">
                {% include "right_login.html" %}
                {% include "left.html" %}
            </div>
            <div class="con">
                <ul class="nostyle">
                    <li class="nostyle stit"><div class="title-img"><span>Sponsors</span></div></li>
                    <li class="nostyle con_img">
                        <div style="padding:5px;">
                        <h1 id="서울대학교-공과대학""><br><span style="color: #f19000; font-weight: bold; font-size:20px;">서울대학교 공과대학</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <a href="http://eng.snu.ac.kr/" target="_blank"><img src="{{ url_for('static', filename='images/sponsor1.gif') }}" style="width:300px"></a>
                        <p class="literature_first" style="width: 420px; display: inline-block; padding: 7px; vertical-align:middle; line-height:2.0rem;">대한민국 최초의 국립대학교인 서울대학교와 함께 서울대학교 공과대학은 “글로벌 산업과 사회의 지도자 육성”을 목표로 끊임없이 달려왔습니다. 서울대 공대에서는 세계적 수준의 국내외 교수들이 열정적으로 교육과 연구에 임하고 있고, 서울대 공대를 졸업한 동문들은 대기업의 CEO, 벤처기업 창업자, 세계적인 공학자 등으로 사회 각계 각층의 지도적 위치에서 대한민국의 기술 개발을 선도함과 동시에 국가발전의 견인차 역할을 해 오고 있습니다.

                        </div>
                        <div style="padding:5px;">
                        <h1 id="동부-문화재단"><br><span style="color: #f19000; font-weight: bold; font-size:20px;">DB김준기문화재단</span></h1>
                        <hr style="display: block; border: solid 1px #f19000";>
                        <a href="https://www.dbfoundation.or.kr/" target="_blank"><img src="{{ url_for('static', filename='images/sponsor2.gif') }}" style="width:300px"></a>
                        <p class="literature_first" style="width: 420px; display: inline-block; padding: 7px; vertical-align:middle; line-height:2.0rem;">DB김준기문화재단은 '좋은기업'을 경영의 제일 신조로 삼고 있는 DB의 사회공헌기관으로서, 1988년 설립 이후 장학사업과 학술연구지원, 교육지원사업을 통해 국가, 사회 발전에 이바지할 유능한 인재 양성에 힘쓰는 한편, 학문의 발전과 건전한 사회문화 창달에도 꾸준한 노력을 기울임으로써 '더불어 함께 사는 희망찬 사회'를 만들어 가는 최선을 다해 왔습니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//container-->
{% endblock %}