{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: About Us ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>Greetings</b></h2>
                </div><hr>

                <div class="col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center" style="margin:20px 0;">안녕하세요? 서울대학교 공과대학 우수학생센터 공우(STEM; SNU Tomorrow's Engineers Membership)입니다.</h4>
                    <p class="text-muted">
                        저희 공우(STEM)는 서울대학교 공과대학 소속의 학생단체로, 대한민국 최초의 공과대학 Honor Society입니다. 2010년 설립 이래 지금까지 서울대학교 공과대학의 다양한 학과 소속의 학생들이 선발되어 활동하고 있으며, 현재 총 {{current.cycle}}기, {{current.membernum}}명의 회원으로 이루어져 있습니다.<br><br>

                        설립 이후 지속적으로 Honor Society로서의 역할과 책임에 대해 고민해온 공우는 우수학생들 사이를 매개해주는 결속체로서의 역할 뿐만 아니라, 회원 각각이 다양한 방면에서의 역량과 책임감을 갖추어 사회에 진정으로 기여하는 공학도가 되고자 하는 것을 목표로 삼고 있습니다.<br><br>

                        이를 위해 현재 공우(STEM)는 학술적인 전문성을 갖추되, 사회에 환원하는 봉사정신을 잃지 않으며, 분야와 국적을 불문한 열린 교류를 통해 영향력을 키워나가고자 다양한 활동들을 주체적으로 실현해 나가고 있습니다. 앞으로도 넓은 틀과 겸손한 자세를 잃지 않고 계속해서 발전해나가는 공우가 될 것을 약속드립니다. 감사합니다.
                    </p>
                    <p class="text-muted text-right">
                        공우(STEM) 11기 회장&nbsp;&nbsp;&nbsp;&nbsp;<b><big>정원석&nbsp;&nbsp;</big></b>
                    </p><br>
                </div>
    </div>
</section>
{% endblock %}
