{% extends "mobile/base.html" %}
{% block section %}
<section>
    <div class="container">
                <div class="col-md-12 text-center">
                    <h5 id="subtitle">:: Join Us ::</h5>
                    {% include "mobile/subnavi.html" %}
                    <h2 class="section-heading" style="margin:0;"><b>Sponsors</b></h2>
                </div><hr>

                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center">서울대학교 공과대학</h4>
                    <a href="http://eng.snu.ac.kr/" target="_blank"><img class="img-responsive center-block" src="{{ url_for('static', filename='images/sponsor1.gif') }}"></a><br>
                    <p class="text-muted">대한민국 최초의 국립대학교인 서울대학교와 함께 서울대학교 공과대학은 “글로벌 산업과 사회의 지도자 육성”을 목표로 끊임없이 달려왔습니다. 서울대 공대에서는 세계적 수준의 국내외 교수들이 열정적으로 교육과 연구에 임하고 있고, 서울대 공대를 졸업한 동문들은 대기업의 CEO, 벤처기업 창업자, 세계적인 공학자 등으로 사회 각계 각층의 지도적 위치에서 대한민국의 기술 개발을 선도함과 동시에 국가발전의 견인차 역할을 해 오고 있습니다.</p>
                </div><hr>

                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 stem-orange">
                    <h4 class="text-center">DB김준기문화재단</h4>
                    <a href="https://www.dbfoundation.or.kr/" target="_blank"><img class="img-responsive center-block" src="{{ url_for('static', filename='images/sponsor2.gif') }}"></a><br>
                    <p class="text-muted">DB김준기문화재단은 '좋은기업'을 경영의 제일 신조로 삼고 있는 DB의 사회공헌기관으로서, 1988년 설립 이후 장학사업과 학술연구지원, 교육지원사업을 통해 국가, 사회 발전에 이바지할 유능한 인재 양성에 힘쓰는 한편, 학문의 발전과 건전한 사회문화 창달에도 꾸준한 노력을 기울임으로써 '더불어 함께 사는 희망찬 사회'를 만들어 가는 최선을 다해 왔습니다.</p>
                </div>
    </div><br>
</section>
{% endblock %}